<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">


    <targets>
        <target xsi:type="ColoredConsole" name="logConsole"></target>
        <target xsi:type="File" name="allLogFile" 
            layout="${longdate} ${level:uppercase=true} ${message}"
            fileName="allLog.txt"></target>
        <target xsi:type="File" name="errLogFile" fileName="errLog.txt"></target>
    </targets>

    <rules>
        <rule name="*" writeTo="logConsole" minLevel="Debug"></rule>
        <rule name="*" writeTo="allLogFile" minLevel="Debug"></rule>
        <rule name="*" writeTo="errLogFile" minLevel="Error"></rule>
    </rules>

</nlog>